.header {
  padding: 40px 0;
}

.header__square {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.header__logo {
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.header__menu-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 73px;
  position: relative;
  font-style: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
}

.header__menu-link:hover::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  content: "";
  display: block;
  margin-top: 11px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .heading {
  padding-top: 10%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 73px;
  color: #232642;
}

.header .subheading {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #232642;
}

.header .get-started-btn {
  margin-bottom: 350px;
  border: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #232642;
  background: transparent;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.header .arrow {
  margin-left: 90px;
  -webkit-animation: arrow 1.5s infinite ease-in-out;
          animation: arrow 1.5s infinite ease-in-out;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

.header .square-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 1000px;
}

.header .girl {
  position: absolute;
  width: 250px;
  height: 300px;
  left: 50%;
  top: 40%;
}

.header .form {
  width: 350px;
  background: #ffffff;
  position: absolute;
  right: 15%;
  top: 30%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 40px 80px rgba(35, 38, 66, 0.4);
          box-shadow: 0px 40px 80px rgba(35, 38, 66, 0.4);
}

.header .form__title {
  background: #F8F7FC;
  border-radius: 20px 20px 0px 0px;
  padding: 30px 30px;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  color: #232642;
  font-size: 24px;
}

.header .form-select {
  width: 300px;
  margin: 0 auto;
  color: #232642;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.header .form-select_label {
  left: 25px;
  color: #232642;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.header .form-group {
  margin: 0;
}

.header .form-underside {
  margin-top: 10px;
  border-radius: 0 0 20px 20px;
  background: #F8F7FC;
  padding: 35px 30px;
}

.header .form-button {
  text-transform: uppercase;
  background: #F9703E;
  -webkit-box-shadow: 0px 10px 25px rgba(233, 101, 52, 0.5);
          box-shadow: 0px 10px 25px rgba(233, 101, 52, 0.5);
  border-radius: 100px;
  border: none;
  color: #ffffff;
  padding: 19px 100px;
  cursor: pointer;
}

.main {
  overflow: hidden;
}

.main__triangle {
  margin-bottom: -5px;
}

.section2 {
  background: #E3E0F6;
  position: relative;
}

.section2__title {
  color: #232642;
  font-size: 36px;
  line-height: 61px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  margin: 20px 0;
}

.section2__description {
  font-size: 18px;
  line-height: 31px;
  color: #232642;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  height: 510px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.section2__btn {
  border: 2px solid #232642;
  border-radius: 100px;
  margin: 30px 0 60px 0;
  padding: 20px 70px;
  color: #232642;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: transparent;
  outline: none;
}

.section2__blockquote {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #232642;
  line-height: 50px;
  position: relative;
  top: 450px;
  left: 50px;
}

.section2__blockquote::before {
  content: "\201C";
  display: inline-block;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 86px;
  color: #232642;
  position: absolute;
  top: 5px;
  left: -70px;
}

.section3 {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.section3-bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: #433795;
  opacity: 0;
}

.section3 .bulba {
  background: url("../img/Bulba.png") no-repeat center;
  background-size: contain;
  position: relative;
  height: 560px;
  top: 300px;
}

.section3 .bulba-title {
  font-size: 40px;
  line-height: 59px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  color: #232642;
  position: relative;
  top: 150px;
  left: 200px;
  width: 100%;
}

.section3 .bulba-description {
  font-size: 24px;
  line-height: 35px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  color: #232642;
  position: relative;
  top: 140px;
  left: 200px;
  width: 100%;
}

.section3 .bulba-img {
  position: absolute;
  top: 130px;
  right: 150px;
}

.section4 {
  height: 750px;
  position: relative;
}

.section4-img {
  margin: 70px 0;
  margin-left: 100px;
  width: 60%;
}

.section4__text {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 70px 0;
  margin-right: 100px;
  width: 100%;
  height: 500px;
}

.section4__text::-webkit-scrollbar {
  width: 6px;
}

.section4__text::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #433795;
}

.section4__text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 20px;
}

.section4-title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 61px;
  color: #232642;
  margin: 0;
  margin-bottom: 70px;
}

.section4-description {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #232642;
}

@media (min-width: 1920px) {
  .triangle-img {
    margin-top: 10px;
  }
}

.footer {
  background: #433795;
  color: #ffffff;
}

.footer__copyright {
  margin: 50px 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.footer__menu {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__menu-link {
  color: #F8F7FC;
  margin-left: 60px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
}

.footer__menu-link:hover::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  content: "";
  display: block;
  margin-top: 11px;
  -webkit-transition: .3s;
  transition: .3s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: #ECEBF0;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */